
body {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    margin: 0; 
    background-color: #85d8b4;
}

.form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #58bc82;
    --clr-alpha: #9c9c9c60;
    --container-bg: #f0f8ff;
    --border-color: #58bc82; 
    
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 1rem;
    width: 100%;
    max-width: 300px;
    padding: 2rem; 
    padding-right:3rem;
    background-color: var(--container-bg);
    border: 2px solid var(--border-color); 
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input[type="username"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
    font-family: Arial, sans-serif; 
    font-size: 1rem; 
    color: var(--bg-dark);
    text-align: left; 
}

input[type="username"]:focus {
    outline: 2px solid var(--clr);
}

label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
}

button {
    padding: 1rem 0.75rem;
    width: 100%;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
}

button:hover {
    background-color: var(--clr);
}