:root{
    --bg-light: #efefef; 
    --bg-dark: #707070;
    --clr: #2c9558;
    --clr-alpha: rgba(156, 156, 156, 0.4);
    --container-bg: #f0f8ff; 
    --border-color: #58bc82; 
    --page-bg: #85d8b4; 
}
.otp-form {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 1rem;
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 2rem;
    background-color: var(--container-bg); 
    border: 2px solid var(--border-color); 
    border-radius: 1rem; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0; 
    background-color: var(--page-bg); 
}

.otp-form input[type="text"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    background-color: var(--clr-alpha); 
    outline: 2px solid var(--bg-dark); 
    font-family: Arial, sans-serif; 
    font-size: 1rem; 
    color: var(--bg-dark);
}

.otp-form input[type="text"]:focus {
    outline: 2px solid var(--clr); 
}

.otp-form button {
    padding: 1rem 0.75rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--bg-dark); 
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: background-color 300ms;
    font-size: 1rem;
    font-weight: bold;
}

.otp-form button:hover {
    background-color: var(--clr);
}
