<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">

    <title>Login</title>
</head>
<body>


    <form class="form" method = "post">
    <span class="input-span">
        <label for="username" class="label">Username</label>
        <input type="username" name="username" id="username"
    /></span>
    <span class="input-span">
        <label for="password" class="label">Password</label>
        <input type="password" name="password" id="password"
    /></span>
    <span class="span"><a href="/forgot-password">Forgot password?</a></span>
    <input class="submit" type="submit" value="Log in" />
    <span class="span">Don't have an account? <a href="/signup">Sign up</a></span>
    </form>

    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
